aws_region      = "us-east-1"
project_name    = "transcriptapi"
service_name    = "transcriptservice"
domain_name     = "transcriptservice.crtfystudent.com"
ecr_image_tag   = "latest"
desired_count   = 1
app_env         = "prod"
use_bedrock     = true
use_textract    = true
bedrock_model_id = "us.anthropic.claude-haiku-4-5-20251001-v1:0"
db_name         = "crtfystudent"
db_username     = "crtfy_app"
db_instance_class = "db.t4g.small"
db_allocated_storage = 20
db_max_allocated_storage = 100
db_enable_local_access = false
db_local_access_cidrs  = ["203.0.113.10/32"]

# First apply:
# - leave existing_certificate_arn as null
# - leave certificate_validation_record_fqdns empty
existing_certificate_arn              = null
certificate_validation_record_fqdns   = []
